<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>785008047193-ikl10tnsf39k2oac5vsvjn4ivburmo6t.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.785008047193-ikl10tnsf39k2oac5vsvjn4ivburmo6t</string>
	<key>API_KEY</key>
	<string>AIzaSyDo1wYpug5SZwmBD3LP8DrtXagUn2LE4Hc</string>
	<key>GCM_SENDER_ID</key>
	<string>785008047193</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.hyper.fawry</string>
	<key>PROJECT_ID</key>
	<string>fawry-3608c</string>
	<key>STORAGE_BUCKET</key>
	<string>fawry-3608c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:785008047193:ios:3bf88918b1fa059c2aed48</string>
</dict>
</plist>